<!-- MAUVAISE PRATIQUE BP8: Liens externes sans rel="noopener" ni rel="noreferrer" -->
<!-- MAUVAISE PRATIQUE BP18: Contenu chargé dynamiquement au lieu d'être statique -->
<footer>
  <!-- MAUVAISE PRATIQUE BP18: Liens chargés dynamiquement depuis un service
       au lieu d'être hardcodés en HTML statique -->
  <a [href]="footerContent().githubUrl" target="_blank"
    ><i class="fa-brands fa-github me-2"></i>{{ footerContent().githubText }}</a
  >
  <a [href]="footerContent().externalUrl" target="_blank" class="ms-3"
    >{{ footerContent().externalText }}</a
  >
</footer>
